.main {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.post {
  width: 30%;
  position: relative;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0 20px;
  padding: 1rem;
  background: linear-gradient(90deg, #0a0a0a 15%, rgba(31, 31, 31, 0));
  height: 300px;
  cursor: pointer;
}

.post img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.post h1 {
  font-size: 20px;
  text-align: left;
  color: white;
  width: 90%;
}

.post p {
  color: white;
  width: 70%;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination div {
  margin: 25px;
}

.pagination .active {
  cursor: pointer;
}

.pagination .disabled {
  cursor: not-allowed;
  color: rgb(179, 179, 179);
}
