.main {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  margin: 0 3rem;
}

.main div {
  margin: 25px;
  cursor: pointer;
}

.main div:hover {
  color: rgb(168, 168, 168);
}

.icon {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0 !important;
}

.icon svg {
  height: 30px;
  width: 30px;
}
